@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.field {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(172, 170, 170);
  position: relative;
  border-radius: 10px;
  margin: 130px auto;
}

.no-field {
  position: absolute;
  width: 440px;
  height: 440px;
  z-index: -2;
  left: 50%;
  top: 130px;
  border-radius: 10px;
  transform: translate(-50%);
}

.cell {
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(202, 202, 202);
  font-size: 50px;
  text-align: center;
  line-height: 110px;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  color: white;

  &::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgb(77, 166, 114);
    z-index: -1;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.button {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  user-select: none;
  color: rgb(77, 166, 114);
  transition: all 0.3s;
  &__text {
    font-size: 30px;
    line-height: 50px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(77, 166, 114);
    color: #fff;
  }
}

.win-text {
  color: rgb(80, 126, 100);
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
}
